{% extends 'base.html' %}

{% block content %}
<div class="col-md-6 offset-md-3">
<h2 class="text-center">Change Password</h2>
    <form method="POST" action="{% url 'change_password' %}">
        {% csrf_token %}
        {% if form.errors %}
            {% for error in form.errors %}
                <p>{{error}}</p>
            {% endfor %}
        {% endif %}
        {{form.as_p}}
        <input type="submit" value="Change Password" class="btn btn-secondary">
    </form>
</div>
{% endblock content %}